:root {
  --primary-color: rgba(151, 196, 1, 255);
  --secondary-color: rgba(74, 74, 74, 0.948);
}

body {
  background-color: var(--primary-color);
   position: absolute;
  left: 15%;
  top: 10%;
}

.outer-line {
  border: var(--secondary-color) solid 3px;
  width: 623px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  background-color: var(--primary-bg);
  width: 37.5rem;
  height: 37.5rem;
  border: solid #000 0.125rem;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  border: var(--secondary-color) solid 3px;
}

.grid div {
  width: 2.5rem;
  height: 2.5rem;
}

.invader--img {
  object-fit: cover;
  width: 90%;
  height: 90%;
}

.shooter--img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.laser {
  box-sizing: border-box;
  border-right: 18px var(--primary-color) solid;
  border-left: 18px var(--primary-color) solid;
  border-bottom: 18px var(--primary-color) solid;
  background-color: var(--secondary-color);
}

.boom {
  background-color: red;
}

.results {
  display: flex;
  color: var(--secondary-color);
  font-size: 1.5em;
  margin-left: 10px;
  margin-bottom: 10px;
}

.results span {
  margin-left: 5px;
}
